.admin{
	max-width: 1220px;
height: 550px;
	background: #edededb8;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.admin h1{
margin-bottom: 60px;
font-size: 40px;
}

.inputs{
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.inputs input{
	width: 380px;
	height: 40px;
	border: solid black 2px;
	border-radius: 5px;
	padding-left: 10px;
}
.admin button{
	margin-top: 30px;
	width: 150px;
	height: 40px;
	border: solid black 2px;
	font-weight: 600;
	border-radius: 5px;
transition: 0.3s;

}
.admin button:hover{
background: #000;
color: white;
transition: 0.3s;
}

.admin h2 {
	font-size: 17px;
margin-top: 40px;
}
